{% extends 'base.html' %}
{% load percent %}
{% block main %}
{% load i18n %}
{% load static %}
<main class="main">
    <div class="category-banner-container bg-gray">
        <div class="category-banner banner text-uppercase" style="background: no-repeat 60%/cover url({% static 'images/banners/banner-top.jpg' %});">
            <div class="container position-relative">
                <div class="row">
                    <div class="pl-lg-5 pb-5 pb-md-0 col-sm-5 col-xl-4 col-lg-4 offset-1">
                        <h3>Electronic<br>Deals</h3>
                        <a href="javascript:void(0)" class="btn btn-dark">Get Yours!</a>
                    </div>
                    <div class="pl-lg-3 col-sm-4 offset-sm-0 offset-1 pt-3">
                        <div class="coupon-sale-content">
                            <h4 class="m-b-1 coupon-sale-text bg-white text-transform-none">Exclusive COUPON
                            </h4>
                            <h5 class="mb-2 coupon-sale-text d-block ls-10 p-0"><i class="ls-0">UP TO</i><b class="text-dark">$100</b> OFF</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-9 main-content">
                <nav class="toolbox sticky-header" data-sticky-options="{'mobile': true}">
                    <div class="toolbox-left">
                        <a href="javascript:void(0)" class="sidebar-toggle">
                            <svg data-name="Layer 3" id="Layer_3" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <line x1="15" x2="26" y1="9" y2="9" class="cls-1"></line>
                                <line x1="6" x2="9" y1="9" y2="9" class="cls-1"></line>
                                <line x1="23" x2="26" y1="16" y2="16" class="cls-1"></line>
                                <line x1="6" x2="17" y1="16" y2="16" class="cls-1"></line>
                                <line x1="17" x2="26" y1="23" y2="23" class="cls-1"></line>
                                <line x1="6" x2="11" y1="23" y2="23" class="cls-1"></line>
                                <path
                                    d="M14.5,8.92A2.6,2.6,0,0,1,12,11.5,2.6,2.6,0,0,1,9.5,8.92a2.5,2.5,0,0,1,5,0Z"
                                    class="cls-2"></path>
                                <path d="M22.5,15.92a2.5,2.5,0,1,1-5,0,2.5,2.5,0,0,1,5,0Z" class="cls-2"></path>
                                <path d="M21,16a1,1,0,1,1-2,0,1,1,0,0,1,2,0Z" class="cls-3"></path>
                                <path
                                    d="M16.5,22.92A2.6,2.6,0,0,1,14,25.5a2.6,2.6,0,0,1-2.5-2.58,2.5,2.5,0,0,1,5,0Z"
                                    class="cls-2"></path>
                            </svg>
                            <span>Filter</span>
                        </a>

                        <div class="toolbox-item toolbox-sort">
                            <label>Sort By:</label>
                            <div class="select-custom">
                                <select name="orderby" class="form-control">
                                    <option value="menu_order" selected="selected">Default sorting</option>
                                    <option value="price">Sort by price: low to high</option>
                                    <option value="price-desc">Sort by price: high to low</option>
                                </select>
                            </div>
                            <!-- End .select-custom -->


                        </div>
                        <!-- End .toolbox-item -->
                    </div>
                    <!-- End .toolbox-left -->
                    {% if search_query %}
                    <div class="toolbox-center">
                        <h4>{{ search_query }}  {% trans "search results:"%}({{search_result_count}})</h4>
                    </div>
                    {% endif %}
                    <div class="toolbox-right">
                        <div class="toolbox-item toolbox-show">
                            <label>Show:</label>
                            <div class="select-custom">
                                <form method="get" id="paginate-by-form">
                                    <select id="paginate-by-form-select" name="count" class="form-control" onchange="changePaginationValue(value)">
                                        <option value="12">12</option>
                                        <option value="24">24</option>
                                        <option value="36">36</option>
                                    </select>
                                </form>
                            </div>
                            <!-- End .select-custom -->
                        </div>
                        <!-- End .toolbox-item -->
                    </div>
                    <!-- End .toolbox-right -->
                </nav>

                <div class="row">
                    {% for product in products %}
                    <div class="col-6 col-sm-4">
                        <div class="product-default">
                            <figure>
                                <a href="{% url 'product' product.slug %}">
                                    <img src="{{ product.images.all.0.image.url }}" width="280" height="280" alt="{{ product.title }}" />
                                    {% if product.images.all.1 %}
                                    <img src="{{ product.images.all.1.image.url }}" width="280" height="280" alt="{{ product.title }}" />
                                    {% endif %}
                                </a>
                                {% if product.old_price %}
                                <div class="label-group">
                                    <div class="product-label label-hot">HOT</div>
                                    <div class="product-label label-sale">{% discount_rate product.old_price product.price %}%</div>
                                </div>
                                {% endif %}
                            </figure>

                            <div class="product-details">
                                <div class="category-wrap">
                                    <div class="category-list">
                                        {% for category in product.categories.all %}
                                        {% if request.LANGUAGE_CODE == 'uk' %}
                                        <a href="{% url 'catalogue' category.slug %}" class="product-category">{{category.name_ua }} </a>
                                        {% else %}
                                        <a href="{% url 'catalogue' category.slug %}" class="product-category">{{category.name }} </a>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if request.LANGUAGE_CODE == 'uk' %}
                                <h3 class="product-title"> <a href="{% url 'product' product.slug %}">{{ product.title_ua }}</a> </h3>
                                {% else %}
                                <h3 class="product-title"> <a href="{% url 'product' product.slug %}">{{ product.title }}</a> </h3>
                                {% endif %}
                                <!-- End .product-container -->

                                <div class="price-box">
                                    <span class="old-price">{{ product.old_price|add_dollar:"$"|default_if_none:"" }}</span>
                                    <span class="product-price">${{ product.price }}</span>
                                </div>
                                <!-- End .price-box -->

                                <div class="product-action">
                                    <a href="wishlist.html" class="btn-icon-wish" title="wishlist"><i
                                            class="icon-heart"></i></a>
                                    <a href="product.html" class="btn-icon btn-add-cart"><i
                                            class="fa fa-arrow-right"></i>
                                        <span>{% trans "SELECT OPTIONS" %}</span>
                                    </a>
                                    <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View"><i class="fas fa-external-link-alt"></i></a>
                                </div>
                            </div>
                            <!-- End .product-details -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- End .row -->

                <nav class="toolbox toolbox-pagination">
                    <div class="toolbox-item toolbox-show">
                        <label>Show:</label>

                        <div class="select-custom">
                            <select name="count" class="form-control">
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                            </select>
                        </div>
                        <!-- End .select-custom -->
                    </div>
                    <!-- End .toolbox-item -->
                    {% include 'pagination.html' %}
                </nav>
            </div>
            <!-- End .col-lg-9 -->

            <div class="sidebar-overlay"></div>
            <aside class="sidebar-shop col-lg-3 order-lg-first mobile-sidebar">
                <div class="sidebar-wrapper">
                    <div class="widget">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="javascript:void(0)" role="button" aria-expanded="true" aria-controls="widget-body-2">{% trans "Categories" %}</a>
                        </h3>

                        <div class="collapse show" id="widget-body-2">
                            <div class="widget-body">
                                <ul class="cat-list">
                                    {% for category in search_categories %}
                                    {% if request.LANGUAGE_CODE == 'uk' %}
                                    <li>
                                        <a href="{% url 'catalogue' category.slug %}">
                                            {{ category.name_ua }}<span class="products-count">({{ category.products_count }})</span>
                                            <span class="toggle"></span>
                                        </a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="{% url 'catalogue' category.slug %}">
                                            {{ category.name }}<span class="products-count">({{ category.products_count }})</span>
                                            <span class="toggle"></span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- End .widget-body -->
                        </div>
                        <!-- End .collapse -->
                    </div>
                    <!-- End .widget -->
                    <div class="widget">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="javascript:void(0)" role="button" aria-expanded="true" aria-controls="widget-body-3">{% trans "Price" %}</a>
                        </h3>

                        <div class="collapse show" id="widget-body-3">
                            <div class="widget-body pb-0">
                                <form action="javascript:void(0)">
                                    <div class="price-slider-wrapper">
                                        <input type="range" id="price" name="price" min="{{ min_price }}" max="{{ max_price|floatformat:0}}" oninput="this.nextElementSibling.value = this.value">
                                        <output>{{ average_price|floatformat:0}}</output>
                                        <button type="submit" class="btn btn-primary">{% trans "Filter" %}</button>
                                    </div>
                                    <!-- End .filter-price-action -->
                                </form>
                            </div>
                            <!-- End .widget-body -->
                        </div>
                        <!-- End .collapse -->
                    </div>
                    <!-- End .widget -->

                    <div class="widget widget-color">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="javascript:void(0)" role="button" aria-expanded="true" aria-controls="widget-body-4">{% trans "Colors" %}</a>
                        </h3>

                        <div class="collapse show" id="widget-body-4">
                            <div class="widget-body pb-0">
                                <ul class="config-swatch-list">
                                    {% for color in colors %}
                                        {% if color.hex_code %}
                                        <li class="active">
                                            <a href="{{request.path}}?color={{ color.name }}" style="background-color: {{ color.hex_code }};"></a>
                                        </li>
                                        {% else %}
                                        <li style="background: conic-gradient(yellow 8.3%, greenyellow 0 16.6%, green 0 24.9%, darkgreen 0 33.2%, blue 0 41.5%, violet 0 49.8%, purple 0 58.1%, pink 0 66.4%, red 0 74.7%, orangered 0 83%, orange 0 91.3%, gold 0 100%); border-radius: 50%">
                                            <a href="{{request.path}}?color={{ color.name }}"></a>
                                        </li>

                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- End .widget-body -->
                        </div>
                        <!-- End .collapse -->
                    </div>
                    <!-- End .widget -->

                    <div class="widget widget-size">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="javascript:void(0)" role="button" aria-expanded="true" aria-controls="widget-body-5">{% trans "Sizes" %}</a>
                        </h3>

                        <div class="collapse show" id="widget-body-5">
                            <div class="widget-body pb-0">
                                <ul class="config-size-list">
                                    {% for size in sizes %}
                                    <li class="active"><a href="{{request.path}}?size={{ size.name }}">{{ size.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- End .widget-body -->
                        </div>
                        <!-- End .collapse -->
                    </div>
                    <!-- End .widget -->
                    <div class="widget widget-size">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="javascript:void(0)" role="button" aria-expanded="true" aria-controls="widget-body-10">{% trans "Brands" %}</a>
                        </h3>

                        <div class="collapse show" id="widget-body-10">
                            <div class="widget-body pb-0">
                                <ul class="config-size-list">
                                    {% for brand in brands %}
                                    <li class="active"><a href="{{request.path}}?brand={{ brand.name }}">{{ brand.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- End .widget-body -->
                        </div>
                        <!-- End .collapse -->
                    </div>

                    <div class="widget widget-featured">
                        <h3 class="widget-title">{% trans "Featured" %}</h3>

                        <div class="widget-body">
                            <div class="owl-carousel widget-featured-products">
                                <div class="featured-col">
                                    {% for product in featured_products %}
                                    <div class="product-default left-details product-widget">
                                        <figure>
                                            <a href="{% url 'product' product.slug %}">
                                                <img src="{{ product.images.all.0.image.url }}" width="75" height="75" alt="{{ product.title }}" />
                                                {% if product.images.all.1.image %}
                                                <img src="{{ product.images.all.1.image.url }}" width="75" height="75" alt="{{ product.title }}" />
                                                {% endif %}
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            {% if request.LANGUAGE_CODE == 'uk' %}
                                            <h3 class="product-title"> <a href="{% url 'product' product.slug %}">{{ product.title_ua }}</a> </h3>
                                            {% else %}
                                            <h3 class="product-title"> <a href="{% url 'product' product.slug %}">{{ product.title }}</a> </h3>
                                            {% endif %}
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <!-- End .ratings -->
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <!-- End .product-ratings -->
                                            </div>
                                            <!-- End .product-container -->
                                            <div class="price-box">
                                                <span class="product-price">${{ product.price }}</span>
                                            </div>
                                            <!-- End .price-box -->
                                        </div>
                                        <!-- End .product-details -->
                                    </div>
                                    {% endfor %}
                                </div>
                                <!-- End .featured-col -->

                                <div class="featured-col">
                                    <div class="product-default left-details product-widget">
                                        <figure>
                                            <a href="product.html">
                                                <img src="static/images/products/small/product-1.jpg" width="75" height="75" alt="product" />
                                                <img src="static/images/products/small/product-1-2.jpg" width="75" height="75" alt="product" />
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-title"> <a href="product.html">Ultimate 3D
                                                    Bluetooth Speaker</a> </h3>
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <!-- End .ratings -->
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <!-- End .product-ratings -->
                                            </div>
                                            <!-- End .product-container -->
                                            <div class="price-box">
                                                <span class="product-price">$49.00</span>
                                            </div>
                                            <!-- End .price-box -->
                                        </div>
                                        <!-- End .product-details -->
                                    </div>
                                    <div class="product-default left-details product-widget">
                                        <figure>
                                            <a href="product.html">
                                                <img src="static/images/products/small/product-2.jpg" width="75" height="75" alt="product" />
                                                <img src="static/images/products/small/product-2-2.jpg" width="75" height="75" alt="product" />
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-title"> <a href="product.html">Brown Women Casual
                                                    HandBag</a> </h3>
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <!-- End .ratings -->
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <!-- End .product-ratings -->
                                            </div>
                                            <!-- End .product-container -->
                                            <div class="price-box">
                                                <span class="product-price">$49.00</span>
                                            </div>
                                            <!-- End .price-box -->
                                        </div>
                                        <!-- End .product-details -->
                                    </div>
                                    <div class="product-default left-details product-widget">
                                        <figure>
                                            <a href="product.html">
                                                <img src="static/images/products/small/product-3.jpg" width="75" height="75" alt="product" />
                                                <img src="static/images/products/small/product-3-2.jpg" width="75" height="75" alt="product" />
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-title"> <a href="product.html">Circled Ultimate
                                                    3D Speaker</a> </h3>
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <!-- End .ratings -->
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <!-- End .product-ratings -->
                                            </div>
                                            <!-- End .product-container -->
                                            <div class="price-box">
                                                <span class="product-price">$49.00</span>
                                            </div>
                                            <!-- End .price-box -->
                                        </div>
                                        <!-- End .product-details -->
                                    </div>
                                </div>
                                <!-- End .featured-col -->
                            </div>
                            <!-- End .widget-featured-slider -->
                        </div>
                        <!-- End .widget-body -->
                    </div>
                    <!-- End .widget -->
                </div>
                <!-- End .sidebar-wrapper -->
            </aside>
            <!-- End .col-lg-3 -->
        </div>
        <!-- End .row -->
    </div>
    <!-- End .container -->

    <div class="mb-4"></div>
    <!-- margin -->
</main>
{% endblock main %}