{% load static %}
{% load i18n %}
{% load i18n_switcher %}
<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left d-none d-sm-block">
                <p class="top-message text-uppercase">{% trans "FREE Returns. Standard Shipping Orders $99+" %}</p>
            </div>
            <!-- End .header-left -->

            <div class="header-right header-dropdowns ml-0 ml-sm-auto w-sm-100">
                <div class="header-dropdown dropdown-expanded d-none d-lg-block">
                    <a href="javascript:void(0)">Links</a>
                    <div class="header-menu">
                        <ul>
                            <li><a href="javascript:void(0)">Cart</a></li>
                            <li><a href="javascript:void(0)" class="login-link">{% trans "Log In" %}</a></li>
                        </ul>
                    </div>
                    <!-- End .header-menu -->
                </div>
                <!-- End .header-dropown -->
                <span class="separator"></span>

                <div class="header-lang">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if request.LANGUAGE_CODE == 'uk' %}
                    <a href="{{ request|switch_i18n:'default' }}" class="header-lang__lang en active"><i class="flag-us flag mr-2"></i>English</a>
                    {% else %}
                    <a href="{{ request|switch_i18n:'uk' }}" class="header-lang__lang uk active"><i class="flag-ua flag mr-2"></i>Українська</a>
                    {% endif %}
                </div>
                <!-- End .header-dropown -->
                <span class="separator"></span>
                <!-- End .social-icons -->
            </div>
            <!-- End .header-right -->
        </div>
        <!-- End .container -->
    </div>
    <div class="header-middle sticky-header" data-sticky-options="{'mobile': true}">
        <div class="container">
            <div class="header-left col-lg-2 w-auto pl-0">
                <button class="mobile-menu-toggler text-primary mr-2" type="button">
                    <i class="fas fa-bars"></i>
                </button>
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'images/logo.png' %}" width="111" height="44" alt="Porto Logo">
                </a>
            </div>
            <!-- End .header-left -->

            <div class="header-right w-lg-max">
                <div class="header-icon header-search header-search-inline header-search-category w-lg-max text-right mt-0">
                    <a href="javascript:void(0)" class="search-toggle" role="button"><i class="icon-search-3"></i></a>
                    <form action="{% url 'search' %}">
                        <div class="header-search-wrapper">
                            <input type="search" class="form-control" name="q" id="q" placeholder="{% trans 'Search...' %}" required>
                            <div class="select-custom">
                                <select id="cat" name="cat">
                                    {% for category in search_categories %}
                                        {% if request.LANGUAGE_CODE == 'uk' %}
                                        <option value="{{ category.name_ua }}">{{ category.name_ua }}</option>
                                        {% else %}
                                        <option value="{{ category.name }}">{{ category.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- End .select-custom -->
                            <button class="btn icon-magnifier p-0" title="search" type="submit"></button>
                        </div>
                        <!-- End .header-search-wrapper -->
                    </form>
                </div>
                <!-- End .header-search -->

                <a href="javascript:void(0)" class="header-icon" title="login"><i class="icon-user-2"></i></a>

                <a href="javascript:void(0)" class="header-icon" title="wishlist"><i class="icon-wishlist-2"></i></a>

                <div class="dropdown cart-dropdown">
                    <a href="javascript:void(0)" title="Cart" class="dropdown-toggle dropdown-arrow cart-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <i class="minicart-icon"></i>
                        <span class="cart-count badge-circle">3</span>
                    </a>

                    <div class="cart-overlay"></div>

                    <div class="dropdown-menu mobile-cart">
                        <a href="javascript:void(0)" title="Close (Esc)" class="btn-close">×</a>

                        <div class="dropdownmenu-wrapper custom-scrollbar">
                            <div class="dropdown-cart-header">{% trans "Shopping Cart" %}</div>
                            <!-- End .dropdown-cart-header -->
                            <div class="dropdown-cart-products">
<!--                                Create here info for customer cart -->
                                <div class="product">
                                    <div class="product-details">
                                        <h4 class="product-title">
                                            <a href="javascript:void(0)">Ultimate 3D Bluetooth Speaker</a>
                                        </h4>

                                        <span class="cart-product-info">
                                            <span class="cart-product-qty">1</span> × $99.00
                                        </span>
                                    </div>
                                    <!-- End .product-details -->

                                    <figure class="product-image-container">
                                        <a href="javascript:void(0)" class="product-image">
                                            <img src="{% static 'images/products/product-1.jpg' %}" alt="product" width="80" height="80">
                                        </a>

                                        <a href="javascript:void(0)" class="btn-remove" title="Remove Product"><span>×</span></a>
                                    </figure>
                                </div>
                             </div>
                            <!-- End .cart-product -->

                            <div class="dropdown-cart-total">
                                <span>SUBTOTAL:</span>

                                <span class="cart-total-price float-right">$134.00</span>
                            </div>
                            <!-- End .dropdown-cart-total -->

                            <div class="dropdown-cart-action">
                                <a href="javascript:void(0)" class="btn btn-gray btn-block view-cart">View
                                    Cart</a>
                                <a href="javascript:void(0)" class="btn btn-dark btn-block">Checkout</a>
                            </div>
                            <!-- End .dropdown-cart-total -->
                        </div>
                        <!-- End .dropdownmenu-wrapper -->
                    </div>
                    <!-- End .dropdown-menu -->
                </div>
                <!-- End .dropdown -->
            </div>
            <!-- End .header-right -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .header-middle -->

    <div class="header-bottom sticky-header d-none d-lg-block" data-sticky-options="{'mobile': false}">
        <div class="container">
            <nav class="main-nav w-100">
                <ul class="menu">
                    <li>
                        <a href="{% url 'index' %}">{% trans "Home" %}</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">{% trans "Categories" %}</a>
                        <div class="megamenu megamenu-fixed-width megamenu-3cols">
                            <div class="row">
                                <div class="col-lg-4">
                                    <a href="javascript:void(0)" class="nolink">{% trans "BEST PRICES" %}</a>
                                    {% for category in search_categories|slice:":17" %}
                                    <ul class="submenu">
                                        {% if request.LANGUAGE_CODE == 'uk' %}
                                        <li><a href="{% url 'catalogue' category.slug %}">{{ category.name_ua }}</a></li>
                                        {% else %}
                                        <li><a href="{% url 'catalogue' category.slug %}">{{ category.name }}</a></li>
                                        {% endif %}
                                    </ul>
                                    {% endfor %}
                                </div>
                                <div class="col-lg-4">
                                    <a href="javascript:void(0)" class="nolink">{% trans "FRESHEST" %}</a>
                                    {% for category in search_categories|slice:"17:" %}
                                    <ul class="submenu">
                                        {% if request.LANGUAGE_CODE == 'uk' %}
                                        <li><a href="{% url 'catalogue' category.slug %}">{{ category.name_ua }}</a></li>
                                        {% else %}
                                         <li><a href="{% url 'catalogue' category.slug %}">{{ category.name }}</a></li>
                                        {% endif %}
                                    </ul>
                                    {% endfor %}
                                </div>
                                <div class="col-lg-4 p-0">
                                    <div class="menu-banner">
                                        <figure>
                                            <img src="{% static 'images/menu-banner.jpg' %}" width="192" height="313" alt="Menu banner">
                                        </figure>
                                        <div class="banner-content">
                                            <h4>
                                                <span class="">UP TO</span><br />
                                                <b class="">50%</b>
                                                <i>OFF</i>
                                            </h4>
                                            <a href="category.html" class="btn btn-sm btn-dark">SHOP NOW</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .megamenu -->
                    </li>
                    <li>
                        <a href="javascript:void(0)">{% trans "Blog" %}</a>
                        <ul class="custom-scrollbar">
                            <li><a href="javascript:void(0)">{% trans "Posts" %}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'info' %}">{% trans "Information" %}</a>
                    </li>
                    <li class="float-right">
                        <a href="{% url 'contact' %}">{% trans "Contact Us" %}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- End .container -->
    </div>
    <!-- End .header-bottom -->
</header>