{% extends 'base.html' %}
{% block main %}
{% load widget_tweaks %}
<main class="main">
	<div class="page-header">
		<div class="container d-flex flex-column align-items-center">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">
							My Account
						</li>
					</ol>
				</div>
			</nav>

			<h1>My Account</h1>
		</div>
	</div>

	<div class="container login-container">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<div class="row">
					<div class="col-md-6">
						<div class="heading mb-1">
							<h2 class="title">Login</h2>
						</div>

						<form action="/login/" method="post">
							{% csrf_token %}
							<label for="login-username">
								Username
								<span class="required">*</span>
							</label>
							{% render_field form.username type="text" class="form-input form-wide" placeholder="Your Name" minlength="2" maxlength="50" id="login-username" %}
							<label for="login-password">
								Password
								<span class="required">*</span>
							</label>
							{% render_field form.password type="password" class="form-input form-wide" placeholder="Password" id="login-password" %}
							<div class="form-footer">
								<a href="forgot-password.html"
									class="forget-password text-dark form-footer-right">Forgot Password?</a>
							</div>
							<button type="submit" class="btn btn-dark btn-md w-100">
								LOGIN
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main><!-- End .main -->
{% endblock main %}